.nav-bar {
    display: flex;
}
.nav {
    background-image: url("images/image2.png");
    background-position: center;
    background-size: cover;
    height: 800px;
}
.nav-bar .logo {
    display: flex;
    width: 40%;
}
.nav-bar .logo h2 {
    color: #F19201;
}
.nav-bar .logo img {
    height: 60px;
    margin-top: 8px;
}
.menu {
    display: flex;
    justify-content: space-around;
    width: 48%;
}
.menu, .moringa {
    background-color: #72695A;
    height: 60px;
    opacity: 0.8;
}
.moringa h2 {
    color: white;
    background-color: #F19201;
}
.menu ul li {
    list-style: none;
    text-decoration: none;
    color: black;
    text-align: right;
    padding: 40px;
    padding-top: 0;
}
.menu ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
.menu ul li a {
    text-decoration: none;
    text-align: right;
    font-size: 24px;
    color: white;
}

/* intro class */
.intro {
    margin-top: 150px;
    margin-left: 100px;
}
.intro h2 {
    color: white;
    font-size: 60px;
}