.nav-bar {
    display: flex;
}

.nav {
    background-image: url("images/image2.png");
    background-position: center;
    background-size: cover;
    height: 800px;
}

.nav-bar .logo {
    display: flex;
    width: 40%;
}

.nav-bar .logo h2 {
    color: #F19201;
}

.nav-bar .logo img {
    height: 60px;
    margin-top: 8px;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 48%;
}

.menu,
.moringa {
    background-color: #72695A;
    height: 60px;
    opacity: 0.8;
}

.moringa h2 {
    color: white;
    background-color: #F19201;
}

.menu ul li {
    list-style: none;
    text-decoration: none;
    color: black;
    text-align: right;
    padding: 40px;
    padding-top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.menu ul li a {
    text-decoration: none;
    text-align: right;
    font-size: 24px;
    color: white;
}

/* intro class */
.intro {
    margin-top: 150px;
    margin-left: 100px;
}

.intro h2 {
    color: white;
    font-size: 60px;
}

.intro button {
    width: 160px;
    height: 45px;
    color: white;
    background-color: #F19201;
    font-size: 20px;
    border: none;
    margin-top: 50px;
}

/* services section  */
.services {
    background-color: #E5E5E5;
}

.services-para {
    text-align: center;
}

.services-para h1 {
    color: #F19201;
    font-size: 30px;
}

.column {
    display: flex;
    margin-left: 300px;
}

.one,
.two,
.three {
    margin: 30px;
    padding: 30px;
    border: none;
    text-align: center;
    background-color: #FFFFFF;
}

.column button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    color: white;
    background-color: #F19201;
    border: none;
    font-size: 20px;
}

/* reviews section styling  */
.reviews {
    display: flex;
}

.backg img {
    height: 600px;
    width: 900px;
}

.farm {
    text-align: center;
    color: white;
    background-color: #000000;
    width: 100%;
}

.farm>h1 {
    margin-top: 120px;
}

.farm h1 {
    font-size: 50px;
}

.farm h2 {
    padding-top: 60px;
}

.farm h3 {
    padding-top: 50px;
}

.farm h1::after {
    content: '';
    width: 8%;
    height: 3px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
    margin-top: 20px;
}

/* menu section styling */
.menu-intro {
    text-align: center;
}
.menu-2 {
    background-color: #E5E5E5;
}

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(0px, auto);
    margin-left: 300px;
}

.chapati {
    display: flex;
    width: 70%;
    background-color: white;
    height: 260px;
}

.beef {
    display: flex;
    width: 70%;
    background-color: white;
}

.chicken {
    display: flex;
    width: 70%;
    background-color: white;
}

.rice {
    display: flex;
    width: 70%;
    background-color: white;
}
.categories img {
    height: 225px;
    margin: 15px;
}
.price {
    padding-left: 30px;
    font-size: 19px;
}
.price button {
    width: 80px;
    height: 30px;
    font-size: 18px;
}